* {
background-color: #f7f7f7;
box-sizing: border-box; 
margin: 0;
padding: 0; 
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: rgb(41, 40, 40);
    height: 10vh;
    margin-bottom: 10vh;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;

}

.functionality {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vh;
   

}

.settings {
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-items: stretch;
    box-shadow: 0 0 12px 0 #817575;
}

button {
    width: 200px;
    padding: 16px;
    font-size: 20px;
    border-radius: 15px;
    transition: transform ease-in 0.3s, border ease-in 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: gainsboro;
}

.active {
    transform: scale(1.1);
    background-color: #fea0c4;
    color: white;
    border: 0.5px solid rgb(78, 23, 69);
}

.active:hover {
    background-color: #fea0c4;
}

input#color {
        border: transparent;
        height: 50px;
}

.slider {
    -webkit-appearance: none;
    width: 196px;
    height: 10px;
    background: #d3d3d3;
    outline: none; 
  }

 .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #fea0c4;
    cursor: pointer;
    border-radius: 20px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slidertext { 
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

@media (max-width: 765px) {
    .title {
        font-size: 30px;
        margin-top: 50px;
    }
    .container {
      width: 350px;
      height: 350px;
    }

    .settings {
        width: 150px;
        height: 350px;
    }

    button {
        width: 125px;
        padding: 10px;
    }

    .slider {
        width: 120px;
    }
  }

  @media (max-width: 565px) {

    .functionality {
        flex-direction: column-reverse;
        gap: 60px;
    }
    .container {
      width: 350px;
      height: 350px;
    }

    .settings {
        width: 150px;
        height: 400px;
    }

    button {
        width: 150px;
        padding: 10px;
    }

    .slider {
        width: 150px;
    }
  }